.perps-page {
    display: flex;
    justify-content: space-between;
    margin: 50px;
  }
  
  .perps-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .perps-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .right-section {
    display: flex;
    align-items: center;
  }
  
  
  .position-toggle {
    display: flex;
  }
  
  .position-toggle button {
    background-color: #333;
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 5px;
  }
  
  .position-toggle button.active {
    background: linear-gradient(to right, #00C0FF, #003FB7) !important;
  }
  
  .perps-content {
    display: flex;
    flex-wrap: wrap;
  }
  
  .perps-container {
    width: 25%;
    padding: 20px;
    background-color: #1f1f1fa3;
    border-radius: 8px;
    color: white;
  }
  
  .perps-section {
    background-color: #1A1A1A;
    padding: 20px;
    margin: 10px 0 10px 0;
    border-radius: 8px;
    flex-direction: column;
    display: flex;
  }
  
  .perps-input-group {
    align-items: center;
    margin-bottom: 10px;
  }

  .perps-input-group select {
    background: linear-gradient(to right, #00C0FF, #003FB7) !important;
    width: 50%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
  }
  
  .perps-input-group .perps-input {
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    color: #fff;
    margin-left: 20px;
    background-color: #1f1f1f;
    border: 1px solid white;
  }
  
  .perps-button {
    padding: 20px;
    background: linear-gradient(to right, #00C0FF, #003FB7) !important;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
  }
  
  .perps-price-chart-container {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 65%;
    padding: 20px;
    background-color: #1f1f1fa3;
    border-radius: 8px;
    color: white;
  }
  
  .timeframe-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .timeframe-buttons button {
    background-color: #333;
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
  }
  