.dca-page {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.dca-page-section{
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 65%;
  padding: 20px;
  background-color: #1f1f1fa3;
  border-radius: 8px;
  color: white;
}

.dca-page-chart {
  width: 25%;
  padding: 20px;
  background-color: #1f1f1fa3;
  border-radius: 8px;
  color: white;
}

.inline-fields {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.inline-fields select {
  color: white !important;
}


.form-group {
  background-color: #1A1A1A;
  padding: 20px;
  margin: 10px 0 10px 0;
  border-radius: 8px;
  flex-direction: column;
  display: flex;
}

.form-group .dropdown-container {
  margin-top: 10px;
}
form button {
  background: linear-gradient(to right, #00C0FF, #003FB7) !important;
  color: white;
  border: none;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}

form button:hover {
  /* background-color: #218838; */
}

#amount {
  flex: 1;
  width: 80px;
}

.dropdown-container {
  display: inline-block;
  flex: 1;
  width: 160px;
}

#interval {
  flex: 0 0 50px;
  margin-right: 10px;
  text-align: center;
}

#num-orders {
  flex: 0 0 50px;
  margin-right: 10px;
  text-align: center;
}

#frequency {
  width: auto;
  min-width: 100px;
}

select {
  background-color: #444;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
}


input[type="number"] {
  background-color: #444;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

/* Light Mode Specific Styles */

body.light select,
body.light input[type="number"] {
  background-color: #1A1A1A;
  /* color: black;  */
  border: 1px solid #cccccc; /* Lighter border for better visibility */
}
