/* General Styles */
body {
  font-family: "Space Grotesk";
  margin: 0;
  padding: 0;
  background-color: #121212; /* Dark background */
  color: #e0e0e0; /* Light gray text */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  /* background: linear-gradient(90deg, #00C8FF, #003Fb7); */
  color: white;
  border-radius: 0.25rem;
  transition: background-color 0.3s;
}

button:hover {
  background: linear-gradient(90deg, #00C8FF, #003Fb7);
}

h2 {
  color: #e0e0e0; /* Light gray */
  border-bottom: 2px solid #333;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.main-content {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Add spacing between sections */
}
