.perps-page {
    display: flex;
    justify-content: space-between;
    margin: 50px;
  }
  
  .perps-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .perps-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .right-section {
    display: flex;
    align-items: center;
  }
  
  .order-type-toggle {
    display: flex;
  }

  .order-type-toggle div {
    color: #afafaf;
    padding: 10px;
    margin-bottom: 10px;
  }

  .order-type-toggle div:hover {
    background-color: #1a1a1a;
    border-radius: 8px;
  }

  .order-type-toggle .active{
    color: #ffffff;
    padding: 10px;
  }
  
  .position-toggle {
    display: flex;
    justify-content: space-between;
  }
  
  .position-toggle button {
    background-color: #1a1a1a;
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 5px;
    min-width: 100px;
  }
  
  .position-toggle button.active {
    background: linear-gradient(to right, #00C0FF, #003FB7) !important;
  }
  
  .perps-content {
    display: flex;
    flex-wrap: wrap;
  }
  
  .perps-container {
    width: 25%;
    padding: 20px;
    background-color: #1f1f1fa3;
    border-radius: 8px;
    color: white;
  }
  
  .perps-section {
    background-color: #1A1A1A;
    padding: 20px;
    margin: 10px 0 10px 0;
    border-radius: 8px;
    flex-direction: column;
    display: flex;
  }
  
  .perps-input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .perps-input-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    padding: 10px;
    border-radius: 8px;
    background: linear-gradient(to right, #00C0FF, #003FB7) !important;
  }

  .perps-input-group .perps-input {
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    color: #fff;
    background-color: #1f1f1f;
    border: 1px solid white;
    width: 50%;
    margin-left: 10px;
    padding: 15px;
  }
  
  .perps-button {
    padding: 15px;
    background: linear-gradient(to right, #00C0FF, #003FB7) !important;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
  }
  
  .perps-price-chart-container {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 65%;
    padding: 20px;
    background-color: #1f1f1fa3;
    border-radius: 8px;
    color: white;
  }

  .perps-history {
    margin-top: 30px;
    background-color: #1f1f1fa3;
    border-radius: 8px;
    color: white;
    padding: 20px;
  }

  .perps-history ul li {
    display:inline;
    padding: 10px;
    color: #ccc;
  }

  .perps-history ul li:hover, 
  .perps-history ul li:active,
  .perps-history .active{
    color: #fff;
    background: linear-gradient(90deg, #00C8FF, #003Fb7);
    border-radius: 8px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1rem;
    font-family: Arial, sans-serif;
  }
  
  thead th {
    background-color: #1a1a1a;
    color: #fff;
    padding: 10px;
    text-align: left;
  }
  
  tbody td, thead th {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  tbody td {
    text-align: center;
    color: #ffffff;
  }
  
  tbody tr {
    background-color: #1a1a1a;
  }
  
  th, td {
    color: #ffffff;
    width: 16.66%;
  }
  
  table, th, td {
    border-radius: 5px;
  }

  table, tr, td, .long {
    color: #34cb88;
  }

  table, tr, td,  .short {
    color: #ff615c;
  }

  td, .pnl-negative {
    color: #ff615c;
  }

  td, .pnl-positive {
    color: #34cb88;
  }

  tbody .action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .preps-deposit {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .preps-deposit-data {
    font-size: 12px;
  }

  /* open modal */
 .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

/* Modal content */
.modal-content {
  background-color: #1a1a1a;
  border-radius: 8px;
  padding: 20px;
  width: 500px;
  max-width: 90%;
  color: white;
  position: relative;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Modal header */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h2 {
  margin: 0;
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

/* Tabs */
.tabs {
  display: flex;
  margin-top: 20px;
}

.tab {
  padding: 10px 20px;
  background-color: #222;
  color: white;
  margin-right: 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
}

.tab.active {
  background: linear-gradient(90deg, #00C8FF, #003Fb7);
}

.transfer-section {
  margin-bottom: 20px;
}

.transfer-section input {
  color: black !important;
  padding: 10px;
  margin-top: 10px;
}

.transfer-select, .amount-input {
  width: 90%;
  padding: 10px;
  margin-top: 10px;
  background-color: #222;
  border: none;
  color: white;
  border-radius: 8px;
}

.balance-info {
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
  margin-top: 10px;
}

.half-btn, .max-btn {
  background-color: #222;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 10px;
}

.summary {
  margin-top: 20px;
  padding: 10px;
  background-color: #222;
  border-radius: 8px;
}

.modal-footer {
  text-align: right;
  margin-top: 20px;
}

.confirm-btn {
  background: linear-gradient(90deg, #00C8FF, #003Fb7);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.confirm-btn:hover {
  background-color: #355ab5;
}

.settle {
  color: #4271ca;
}
